body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}

.bodyContainer{
    margin:auto;
    width: 90vw;
    max-width: 1000px;
    padding-bottom: 50px;
}

.headerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

#vantaBackground{
    min-height: 100vh;
}

.headerSection .left, .landingSection .right{
    padding: 20px;
}

.headerSection .profileImage{
    background-image: url('/assets/images/profile.png');
    height: 150px;
    width: 150px;
    background-size: 150px;
    border-radius: 50%;
}

.headerSection .profileName{
    color: #215dbf;
    font-weight: bold;
    font-size: 42px;
}

.headerSection .profileDesignation{
    font-size: 24px;
    margin-top: 10px;
}

.introductionSection{
    text-align: center;
    margin-bottom: 100px;
}

.importantSection{
    margin-bottom: 100px;
}

.importantSectionText{
    font-size: 19px;
    text-align: center;
    color: #215dbf;
    font-weight: bold;
}

.importantSectionDivHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.importantSectionDiv{
    border: dashed 1px #215dbf;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    font-size: 16px;
    text-align: center;
    
}

.importantSectionDiv img{
    animation-name: animate-pop;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
    animation-delay: calc(.85s + .2s * var(--i));
}

.impoartantSectionUrl{
    margin-top: 10px;
    font-size: 10px;
}

.skillHolder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.skillsSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 20px;
}

.skillsSection .skillContainer{
    border: dashed 1px #215dbf;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.skill{
    font-size: 12px;
    padding: 10px 5px;
    background: #f7f7f7;
    margin: 8px 0;
    border-radius: 10px;
    margin-right: 8px;
    text-align: center;
    animation-name: animate-pop;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
    animation-delay: calc(.85s + .2s * var(--i));
}

.skill div{
    margin-top: 8px;
}

.skill img{
    width: 30px;
    height: 30px;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}


@media only screen and (max-width: 767.98px) {
    .headerSection .profileImage{
        height: 100px;
        width: 100px;
        background-size: 100px;
    }

    .importantSectionDivHolder{
        grid-template-columns: 1fr;
    }

    .skillsSection{
        grid-template-columns: 1fr;
    }

    .headerSection .profileName{
        font-size: 32px;
    }

    .headerSection .profileDesignation{
        font-size: 18px;
    }
}