@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.text-shadows {
    text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 0;
    color: white;
    -webkit-animation: shadows 1.2s ease-in infinite;
    animation: shadows 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        transform: translate(3px, 3px);
        text-shadow: -3px -3px 0 #f49b90;
    }

    20% {
        transform: translate(6px, 6px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d;
    }

    30% {
        transform: translate(9px, 9px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a;
    }

    40% {
        transform: translate(12px, 12px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    50% {
        transform: translate(12px, 12px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    60% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    70% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a;
    }

    80% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d;
    }

    90% {
        text-shadow: -3px -3px 0 #f49b90;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        transform: translate(3px, 3px);
        text-shadow: -3px -3px 0 #f49b90;
    }

    20% {
        transform: translate(6px, 6px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d;
    }

    30% {
        transform: translate(9px, 9px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a;
    }

    40% {
        transform: translate(12px, 12px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    50% {
        transform: translate(12px, 12px);
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    60% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a, -12px -12px 0 #ee6352;
    }

    70% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d, -9px -9px #f07a6a;
    }

    80% {
        text-shadow: -3px -3px 0 #f49b90, -6px -6px 0 #f28b7d;
    }

    90% {
        text-shadow: -3px -3px 0 #f49b90;
    }

    100% {
        text-shadow: none;
    }
}



/* Mobile */

@media only screen and (max-width: 768px) {

    .text-shadows {
        font-size: 40px;
    }

}