body {
    background-color: #03bff3;
    height: 100vh;
    width: 200vw;
}


#arjun {
    position: fixed;
    bottom: 120px;
    width: 100px;
    left: calc(30vw - 50px);
}

.sky {
    position: relative;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.cloud {
    position: absolute;
    z-index: -1;
}

#cloud_1 {
    left: 100px;
    top: 20px;
    height: 200px;
}

#cloud_2 {
    left: 800px;
    top: 300px;
    height: 100px;
}



.rock {
    position: absolute;
    bottom: -40px;
}

#rock_1 {
    left: 20px;
    width: 100px;
}

.ground {
    position: relative;
    height: 150px;
    width: 100%;
}

.grass1 {
    height: 50px;
    background-image: url("/assets/images/grass1.png");
    position: absolute;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    z-index: -1;
    bottom: 55px;
}

.grass2 {
    height: 80px;
    background-image: url("/assets/images/grass_2.png");
    position: absolute;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    z-index: -2;
    bottom: 80px;
}

.mountain1 {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 80px;
    background-image: url("/assets/images/mountains_1.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: -3;
}

.mountain2 {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 180px;
    background-image: url("/assets/images/mountains_2.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: -4;
}

.mountain3 {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 250px;
    background-image: url("/assets/images/mountains_3.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: -4;
}

.mountain4 {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 350px;
    background-image: url("/assets/images/mountains_4.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: -4;
}


.earth {
    height: 100px;
    background-image: url("/assets/images/ground.png");
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}


.tree {
    position: absolute;
    bottom: -5px;
    z-index: -2;
}

#tree_1 {
    left: 900px;
    width: 300px;
}

#tree_2 {
    left: 110px;
}

#tree_3 {
    left: 10px;
}

#tree_4 {
    left: 100px;
}

.bush {
    position: absolute;
    bottom: -5px;
    z-index: -2;
}

#bush_1 {
    left: 100px;
    width: 100px;
}

/* Mobile */

@media only screen and (max-width: 768px) {

    #cloud_1 {
      left: 70px;
      height: 100px;
    }
  
    #cloud_2 {
      top: 200px;
      height: 50px;
    }
  
  
    #tree_1 {
      right: 110px;
      width: 60px;
  }
  
    #tree_2 {
      left: 60px;
      width: 70px;
  }
  
  #tree_3 {
    left: 10px;
    width: 100px;
  }
  
    #tree_4 {
      right: 10px;
      width: 110px;
  }
  
  }