.arjun {
    position: fixed;
    bottom: 88px;
    width: 100px;
    left: calc(30vw - 50px);
    z-index: 5;
    display: none;
}


main {
    overflow-x: hidden;
}

section {
    min-width: 400vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ed9c7;
    background-image: url("../assets/images/background.png");
}


.clouds_bg {
    height: 80vh;
    background-image: url("../assets/images/clouds_1.png");
    position: absolute;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    z-index: 0;
    bottom: 55px;
}


.rock {
    position: absolute;
    bottom: 80px;
}

#rock_1 {
    right: 100px;
    width: 100px;
    z-index: 5;
}


.grass1 {
    height: 50px;
    background-image: url("../assets/images/grass_1.png");
    position: absolute;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    z-index: 4;
    bottom: 55px;
}

.grass2 {
    height: 15px;
    background-image: url("../assets/images/grass_2.png");
    position: absolute;
    width: 100%;
    background-repeat: repeat;
    background-size: contain;
    z-index: 3;
    bottom: 98px;
}

.mountain1 {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 200px;
    background-image: url("../assets/images/mountains_1.png");
    background-repeat: repeat;
    background-size: contain;
    z-index: 0;
}

.earth {
    height: 100px;
    background-image: url("../assets/images/ground.png");
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.tree {
    position: absolute;
    bottom: 90px;
    z-index: 0;
}

#tree_1 {
    right: 0px;
    width: 550px;
    z-index: 2;
}

#tree_2 {
    left: -80px;
    width: 700px;
    z-index: 1;
}

#tree_3 {
    left: 800px;
    width: 700px;
    z-index: 1;
}

.bush {
    position: absolute;
    bottom: -5px;
    z-index: 0;
}

#bush_1 {
    left: 100px;
    width: 100px;
}



/* Mobile */

@media only screen and (max-width: 768px) {
    .mountain1 {
        background-size: cover;
        bottom: 80px;
    }

    .clouds_bg {
        bottom: 200px;
    }

    #rock_1 {
        right: 10px;
        width: 40px;
    }

    .grass2 {
        bottom: 74px;
    }

    .tree {
        bottom: 78px;
    }

    #tree_3 {
        width: 200px;
        display: none;
    }

    #tree_2 {
        width: 200px;
    }

    #tree_1 {
        width: 250px;
        z-index: 1;
    }

    .rock {
        bottom: 65px;
    }

    .earth {
        height: 80px;
    }


    .grass1 {
        height: 28px;
        background-size: cover;
        bottom: 55px;
    }

}