html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, #7a45a1, #c03a31);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;

    color:white;
  }

  .progressContainer {
      top: 0;
      right: 0;
    bottom: 0;
      left: 0;
    display: inline-block;
    margin: auto;
    position: absolute;
    width: 20rem;
    height: 3px;
  }

  #myiframe{
    height:100%;
    width:100%;
    border:none;
    display:none;
  }


  @media only screen and (max-width: 812px) {
    /* #myiframe::-webkit-scrollbar {
      display: none;
    } */
  }

  .progressFill {
    animation: load 2s linear forwards;
    background-color: white;
    height: 100%;
    width: 0rem;
  }
  
  @keyframes load {
    0% { width: 0rem; }
    100% { width: 20rem; }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  