.introSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.redBackground {
  background-color: #dc2430;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.introTitleDiv {
  padding: 1rem;
  color: white;
}

.introTitleDiv h1 {
  font-size: 3.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
  font-weight: 600;
}

.introTitleDiv h4 {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  font-weight: 400;
}

.introImage {
  position: absolute;
  right: -5rem;
  bottom: 0rem;
  height: 25rem;
  width: 42vw;
  z-index: -2;
}

.playableButton{
    border: solid 2px white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background: transparent;
    color: white;
    margin-top: 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.playableButton:hover{
    background-color: white;
    color: #7b4397;
}

@media only screen and (max-width: 600px) {
  .introImage {
    height: 30vh;
    width: 65vw;
  }

  .introTitleDiv h1 {
    font-size: 1.8rem;
  }

  .introTitleDiv h4 {
    font-size: 1rem;
  }
}
